{% extends "base.html" %}

{% block content %}

    <h1>Build -A- Blog</h1>

    {% if existing_blogs|length == 0 %}

    <p>No blogs yet</p>

    {% else %}

        <ul class="list-group">

            {% for blog in existing_blogs %}

            <li class="list-group-item">
                <a href="/id_blog.html?id={{blog.id}}" target='_blank'> 
                    <h4>{{ blog.blog_title }}</h4>
                </a>
                
                {{ blog.blog_body }}
            </li>

            {% endfor %}
        </ul>

    {% endif %}

    <!-- 
        
    {% if completed_blogs|length > 0 %}
    <h2>Completed</h2>

    <table class="table table-striped">
        {% for blog in completed_blogs %}
        <tr>
        <td><span class="glyphicon glyphicon-ok"></span>{{blog.name}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    
    -->
<!--
    <h3>New post</h3> -->

   <!-- <form action="/blog.html", method='POST'> <!-- action='/newpost' -->

   <!-- <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" name="blog_title" type="text" value="{{ blog_title }}"/>
        </div> -->
        <!-- deleted value in input above-->
   <!-- <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" name="blog_body" type="text" value="{{ blog_body }}"></textarea>
        </div> -->
        <!-- deleted value in input above-->
    <!--    <input type="submit" value="Add Post" class="btn btn-default"/>

    </form> -->

{% endblock %}